header{
  width: 100%;
  height: 70px;
  background-color: rgb(184, 192, 201);
  position: sticky;
  top: 0;
}
header nav{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
}
.navbar{
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 90px;
  list-style: none;
  text-decoration: none;
}
li{
  text-decoration: none;
  margin-left: 50px;
  list-style: none;
  font-weight: bold;
}
li:hover{
  color: orange;
}
footer{
  width: 100%;
  height: 100px;
  background-color: rgb(184, 192, 201);
  display: flex;
  justify-content: center;
  align-items: center;
}

.products{
  padding: 10px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0 auto;
}

.pro{
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  background-color: rgb(225, 236, 236);
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}
img{
  width: 100%;
  height: 60%;
  border-radius: 10px;
}

.cartimg{
  width: 100px;
  height: 80px;
}

.carts{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cart{
  width: 800px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exit{
  margin-left: 20px;
  font-weight: bold;
}